@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-template-areas {
  display: grid;
  grid-template-areas:
    "sidenav main"
    "now-playing now-playing";
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr auto;
}

@media (max-width: 768px) {
    .grid-template-areas {
        grid-template-areas:
            "main"
            "now-playing";
        grid-template-columns: 1fr;
    }
    .sidenav {
        display: none;
    }
    .header {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #cover-content h1 {
        font-size: 3rem;
    }
}

.grid-template-areas .content {
  grid-area: main;
}
.grid-template-areas .sidenav {
  grid-area: sidenav;
}
.grid-template-areas .now-playing {
  grid-area: now-playing;
}

.track:hover .track-no,
.track.selected .track-no {
  visibility: hidden;
}

.track:hover .play,
.track.selected .play {
  visibility: visible;
}

.track.playing .track-no,
.track.playing .song-title {
  color: theme("colors.green");
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}